name: Build & Tests

on: [push]

jobs:
  test:
    name: Build and test App
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          fail-fast: false
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install uv
        run: pip install uv
      - name: Test app
        run: |
          uv sync --frozen
          uv run -- pytest --cov=rapid_api_client tests/
          uv run -- coverage report
          uv run -- coverage xml

  publish:
    name: Publish App on PyPI
    if: startsWith(github.ref, 'refs/tags/')
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install uv
        run: pip install uv
      - name: Publish app
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          uv build
          uv publish
